body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  margin: 40px auto;
  width: 1086px;
}

.container {
  display: flex;
  flex-direction: column;
}

.chats-page {
  display: flex;
  flex-direction: row;
}

.chat {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(199, 199, 199);
  flex: 1;
  height: 400px;
  margin-left: -1px;
  justify-content: flex-end;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 0 5px 5px 0;
  overflow: hidden;
}

.messagesContainer {
  overflow-y: auto;
}

.message {
  color: #61dafb;
  margin: 0 0 20px 0;
}

.message:hover {
  cursor: pointer;
}

.counterText {
  margin: 0 0 20px 0;
}

.counterButton {
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  color: #282c34;
  font-size: 16px;
}

.counterButton:hover {
  cursor: pointer;
  background-color: #61dafbc9;
}

.input {
  outline: none;
  height: 30px;
  margin-top: 25px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px 0 0 5px;
  padding: 0 10px;
}

.button {
  margin-left: 10px !important;
}

.messageBlock {
  color: #282c34;
}

.messageBlock:not(:last-child) {
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.chatList {
  width: fit-content;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 5px 0 0 5px;
  height: 400px;
  box-sizing: border-box;
}

.chatListHeader {
  border-bottom: 1px solid rgb(199, 199, 199);
  padding: 10px;
  font-size: 21px;
  font-weight: bold;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px !important;
}

.menu-item {
  justify-content: center !important;
}

.menu-link {
  text-decoration: none;
  color: black;
}

.menu-link:hover {
  color: #8484ee;
}

.chatList-link {
  text-decoration: none;
  color: black;
}

.chatList-link:hover {
  color: #8484ee !important;
}

.chatListForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 16px;
}

.chatList-item {
  display: flex;
  justify-content: space-between !important;
  width: 100%;
}

.profile, .home, .news, .newsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  margin-right: 0 !important;
}

.regForm {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link {
  text-decoration: none;
  color: #8484ee;
  margin-top: 20px;
}

.link:hover {
  color: rgb(92, 92, 166);
  cursor: pointer;
}

.buttonOut {
  margin-top: 20px !important;
}